

<% content_for :title, "Students" %>

<h1>List Students</h1>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Year Level</th>
      <th>Program</th>
      <th>Department</th>
      <th>Number of Units</th>
      <th>Total Assessment</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.year_level %></td>
        <td><%= student.program %></td>
        <td><%= student.department.name %></td>
        <td><%= student.number_of_units %></td>
        <td><%= student.total_assessment%></td>
        <td>
          <%= link_to "Show", student, class: "btn btn-sm btn-primary" %>
          <%= link_to "Edit", edit_student_path(student), class: "btn btn-sm btn-warning" %>
          <%= link_to "Delete", student, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New student", new_student_path %>
