<div class="card mb-4 shadow-sm">
  <div class="card-header bg-light">
    <h4 class="mb-0"><%= @student.name %></h4>
  </div>
  <div class="card-body">
    <p><strong>Year Level:</strong> <%= @student.year_level %></p>
    <p><strong>Program:</strong> <%= @student.program %></p>
    <p><strong>Department:</strong> <%= @student.department.name %></p>
    <p><strong>Total Assessment:</strong> <%= @student.total_assessment %></p>
    <p><strong>Number of Units:</strong> <%= @student.number_of_units %></p>
  </div>
</div>
<h5 class="mb-3">📚 List of Subjects</h5>
<table class="table table-bordered table-striped">
  <thead class="table-light">
      <tr>
        <th>Section</th>
        <th>Subject</th>
        <th>Teacher</th>
      </tr>
    </thead>
    <tbody>
      <% @student.classlists.each do |classlist| %>
        <tr>
          <td><%= classlist.section.name %></td>
          <td><%= classlist.section.subject.name %></td>
          <td><%= classlist.section.subject.teacher.name %></td>
        </tr>
      <% end %>
    </tbody>
  <table>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
